*{
    margin: 5px;
    padding: 0;
    width: 300px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}
#boton{
    width: 33.33%;
    background: #27ae60;
    text-align: center;
    color: white;
    
}
input {
    height: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}