*{   
    font-family: Segoe UI;
    box-sizing: border-box ;
}

body{
    background: #f1f2f6;
    width: 300px;
    border: 1px solid black;   

}
label {
    font-weight: bold;
    
    
}

form input [type="text"]{
    padding: 3px 10px;
    margin: 8px 0;
    width: 250px;
    
}
textarea {
    width: 250px;
}
select {
    width: 250px;
}
#boton{
    width: 25%;
    background: #4a69bd;
    text-align: center;
    color: white;
    margin-top: 25px;
}

#checkbox{
    font-size: 100px;
}
#genero{
    border: 1px solid black; 
}